<?xml version="1.0" ?>
<!--
/**
 * @package     HitarthPattani\ListingPromoBanners
 * @author      Hitarth Pattani <hitarthpattani@gmail.com>
 * @copyright   Copyright © 2021. All rights reserved.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="catalog">
            <group id="listing_promo_banners" sortOrder="1100" translate="label" showInDefault="1" showInStore="1" showInWebsite="1">
                <label>Listing Promo Banners</label>
                <field id="enabled" sortOrder="10" translate="label" type="select" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
